- if @topic
  %h1 Latest News Posts
  %br

  - @threads.each do |thread|
    .news-post
      - post = @news_posts[thread]
      %br

      = render 'forums/posts/news_post', post: post

  - if @more_threads
    = link_to 'View Older Posts', forums_topic_path(@topic), class: 'btn btn-default'
- else
  .jumbotron
    %h1 Welcome to the PURE League website!

    %p If you are reading this, please let us know!
