%h3 FIND US ON:
%a{:href => "https://youtube.rsl.tf"} 
  %em.fab.fa-2x.fa-youtube
%a{:href => "https://twitch.rsl.tf"} 
  %em.fab.fa-2x.fa-twitch
%a{:href => "https://twitter.rsl.tf"} 
  %em.fab.fa-2x.fa-twitter
%a{:href => "https://steam.rsl.tf"} 
  %em.fab.fa-2x.fa-steam
%a{:href => "https://discord.rsl.tf"} 
  %em.fab.fa-2x.fa-discord
%br
%hr
%br
%a{:href => "/about"}
  ABOUT
&nbsp;|&nbsp;
%a{:href => "/legal"}
  LEGAL INFORMATION
&nbsp;|&nbsp;
%a{:href => "/termsofuse"}
  TERMS OF USE
&nbsp;|&nbsp;
%a{:href => "/privacy"}
  PRIVACY POLICY
&nbsp;|&nbsp;
%a{:href => "/credits"}
  CREDITS