.navbrand
  = image_tag 'SiteBrand.png', height: '38px'

%li
  %a{:href => "/"}
    HOME

%li
  %a{:href => "/news"}
    NEWS

%li
  %a{:href => "/forums"}
    FORUMS

%li
  %a{:href => "/leagues"}
    LEAGUES & TOURNAMENTS

%li
  %a{:href => "/teams"}
    TEAMS

%li
  %a{:href => "/users"} 
    USERS

%li.dropdown
  %a.dropdown-toggle{ role: :button, data: { toggle: :dropdown } }
    RESOURCES
    %span.caret

  %ul.dropdown-menu
    %li
      %a{:href => "/competitive_rules"}
        COMPETITIVE RULES

    %li
      %a{:href => "/community_rules"}
        COMMUNITY RULES

    %li
      %a{:href => "/forums/topics/70"} 
        INFRACTIONS

    %li
      %a{:href => "/forums/topics/54"} 
        STAFF LIST

    %li
      %a{:href => "/forums/topics/55"} 
        MAP SCHEDULE

    %li
      %a{:href => "/forums/topics/56"} 
        SERVER GUIDE

    %li
      %a{:href => "/forums/topics/57"} 
        WEBSITE GUIDE

    %li
      %a{:href => "https://patreon.com/respawnleague"}
        PATREON

    - if user_signed_in? && current_user.admin?
      %li{ class: navbar_class(:admin) }
        = link_to('CONTROL PANEL', :admin)